@import '../mixins';

.drop-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  background-image: url(../assets/drop-bg.png);

  .drop-bank {
    height: 42vh;
    background-size: auto 35vh;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url(../assets/drop-bank-bg.png);

    .balance {
      display: flex;
      align-items: center;

      @media screen and (max-width: 768px) {
        margin-top: 4vh;
        border-bottom: 1vh;
      }

      margin-top: 3vh;
      .main-label {
        @include text-white-outline-brown();
        font-size: 3.5vh;
      }

      img {
        margin-right: 6px;
        width: 55px;
      }
    }

    .profit-per-hour {
      height: 4vh;
      padding: 0 2vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../assets/bank-profit-per-hour-bg.png);

      .main-label {
        font-size: 1.75vh;
        color: #393636;
      }

      img {
        margin: 0 0.5vw 0.35vh 1vw;
        height: 2vh;
      }
    }

    .instructions-list {
      margin-left: -3vw;

      @media screen and (max-width: 768px) {
        margin-left: -9vw;
      }

      @media screen and (max-width: 480px) {
        margin-left: -16vw;
      }

      .main-label {
        color: #865858;
        font-size: 1.65vh;
        text-align: left;
      }
    }
  }

  .bottom-moon {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 57vh;
    padding-bottom: 2vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url(../assets/drop-moon-bottom.png);
  }

  .main-label.boinkers-label {
    font-size: 2vh;
    color: #5E5E5E;
    line-height: 1;
  }

  .main-button {
    position: relative;
    margin-top: 3vh;
    height: 12vh;
    background: #00C8FF;
    border-radius: 15px;

    @media screen and (max-width: 768px) {
      height: 6vh;
    }

    .button-icon {
      width: 5vh;
      margin-right: 2vw;
    }

    .main-label {
      white-space: nowrap;
    }

    .button-corner-ribbon {
      position: absolute;
      height: 3.5vh;
      max-width: 32vw;
      top: -1.5vh;
      left: -2vw;
      transform: rotate(-14deg);
      display: flex;
      justify-content: center;

      @media screen and (max-width: 768px) {
        max-width: 20vw;
      }

      @media screen and (max-width: 480px) {
        margin-left: -16vw;
        top: -0.5vh;
        left: 12vw;
        max-width: 32vw;
      }

      img {
        width: 100%;
      }

      .main-label {
        position: absolute;
        font-size: 1.75vh;
        line-height: 3vh;
      }
    }
  }
}


